#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    color: #1a1a1a;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em;
}

form {
    background: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 0 0 1em;
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    color: #888;
    text-align: center;
}
